
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student login</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
<h2 align="center">Login Page</h2>
<form action="logdata" method="post">

    {% csrf_token %}
    <h3 style="color:red" align="center">{{ data }}</h3>
    <table align="center">
        <tr>
            <td>UserName</td>
            <td><input type="text" name="txtUserName"></td>
        </tr>
        <tr>
            <td>UserPassword</td>
            <td><input type="password" name="txtUserPassword"></td>
        </tr>
        <tr>
            <td><input type="submit" name="btnsub" value="login"></td>
            <td><a href="{% url 'reg'%}">Signup</a></td>
        </tr>

</form>


</body>
</html>